@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --trans_dur: 0.5s;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
}

.attribution {
    display: none;
}

#frame {
    width: 500px;
    /* min-height: 250px; */
    background-color: rgba(49,58,73,255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 10px;
    padding-bottom: 90px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dice-button {
    background-color: #53feaa;
    position: absolute;
    border-radius: 50%;
    bottom: -25px;
    left: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1 / 1;
    transition: background-color var(--trans_dur), box-shadow var(--trans_dur);
}

#dice-button:hover {
    /* background-color: red; */
    box-shadow: 0 0 15px 0 #00ff84;
    cursor: pointer;
}

#frame > svg {
    position: absolute;
    left: calc(50% - 222px);
    bottom: 50px;
}

.advice-id {
    height: 40px;
    color: #4acb8f;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.5em;
}

#advice-container {
    text-align: center;
    width: 444px;
    font-size: 1.8em;
    color: #bed2da;
    font-weight: 900;
}